.cart {
  position: sticky;
  top: 0;

  &-products {
    min-height: 30vh;
  }

  &-persons {
    font-size: 0.75rem;
  }

  &-checkout {
    &-button {
      font-size: 0.6rem;
    }
  }
}

@media screen and (max-width: 577px) {
  .cart {
  }
}
