// colors
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #5539a3;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #ff6223;
$yellow:  #ffd644;
$green:   rgb(25, 147, 72);
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $orange;
$secondary:     $yellow;
$success:       $green;
$info:          $purple;
$warning:       $yellow;
$danger:        $red;
$light:         #fdfdfb;
$dark:          $gray-800;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 770px,
  lg: 992px,
  xl: 1200px
);

// aspect
$border-radius: 16px;
// $btn-border-radius:           50%;
// $btn-border-radius-lg:        0;
// $btn-border-radius-sm:        0;

$input-padding-y:  0.7rem;
$input-padding-x:  0.7rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// fonts
@font-face {
  font-family: "Lato";
  src: url(/static/fonts/Lato-Regular.ttf);
}

$font-family-sans-serif: Lato, sans-serif;
