body {
  background-color: antiquewhite;

}
.home {
  min-height: 100vh;
  background-color: white;
  padding: 1rem 5rem;

  & .form-group {
    position: relative;
  }

  & .hola {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  & .jumbotron {
    position: relative;
  }

  & .image {
    position: absolute;
    bottom: 0;
    left: 2rem;
    width:200px;
  }
}

@media screen and (max-width: 577px) {
  .home {
    padding: 1rem 1rem;
  }
}
